.wps-table-section .wps-table-entry-template {
    display: none;
}

.wps-table-section thead tr td:nth-child(n+2):nth-child(-n+3) {
    background-color: #EEE;
}

.wps-table-section thead tr td:nth-child(n+2):nth-child(-n+3) label {
    font-weight: bold;
    display: block;
}

.wps-table-section thead tr td:nth-child(n+2):nth-child(-n+3) input {
    font-weight: bold;
    background-color: #EEE;
}

.wps-table-entry-drag {
    vertical-align: middle;
    cursor: move;
    font-size: 1.75em;
}
