.wps-product-sections-buttons {
    margin-left: 2.05em;
}

.wps-product-section {
    margin-top: 0.25em;
}

.wps-product-sections .wps-product-section-template {
    display: none;
}

.wps-product-section-add {
    margin-top: 0.5em !important;
}

.wps-product-section-drag {
    vertical-align: middle;
    cursor: move;
    font-size: 1.75em;
}
